<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- start menu -->
    <link href="../static/css/memenu.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="../static/js/memenu.js"></script>
    <script src="../static/js/simpleCart.min.js"></script>
    <script>
        $(document).ready(function () {$(".memenu").memenu();});var u ="{{ username }}";
    </script>
    <script src="../static/js/tools.js"></script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="search">
                <form>
                    <input type="text" value="Search " onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Search';}" title="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="header-left">
                <ul>
                    <li><a class="lock" href="/login">Login</a></li>
                    <li><a class="lock" href="/register">Register</a></li>
                </ul>
                <div class="cart box_1">
                    <a href="/checkout">
                        <h3>
                            <div class="total">
                                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                            </div>
                            <img src="../static/images/cart.png" alt=""/></h3>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="logo">
                <a href="/index"><img src="../static/images/logo.png" alt=""></a>
            </div>
            <div class=" h_menu4">
                <ul class="memenu skyblue">
                    <li class="active grid"><a class="color8" href="/index">Home</a></li>
                    <li><a class="color1" href="#">Men</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="/products">Accessories</a></li>
                                            <li><a href="/products">Bags</a></li>
                                            <li><a href="/products">Caps & Hats</a></li>
                                            <li><a href="/products">Hoodies & Sweatshirts</a></li>
                                            <li><a href="/products">Jackets & Coats</a></li>
                                            <li><a href="/products">Jeans</a></li>
                                            <li><a href="/products">Jewellery</a></li>
                                            <li><a href="/products">Jumpers & Cardigans</a></li>
                                            <li><a href="/products">Leather Jackets</a></li>
                                            <li><a href="/products">Long Sleeve T-Shirts</a></li>
                                            <li><a href="/products">Loungewear</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="/products">Shirts</a></li>
                                            <li><a href="/products">Shoes, Boots & Trainers</a></li>
                                            <li><a href="/products">Shorts</a></li>
                                            <li><a href="/products">Suits & Blazers</a></li>
                                            <li><a href="/products">Sunglasses</a></li>
                                            <li><a href="/products">Sweatpants</a></li>
                                            <li><a href="/products">Swimwear</a></li>
                                            <li><a href="/products">Trousers & Chinos</a></li>
                                            <li><a href="/products">T-Shirts</a></li>
                                            <li><a href="/products">Underwear & Socks</a></li>
                                            <li><a href="/products">Vests</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popular Brands</h4>
                                        <ul>
                                            <li><a href="/products">Levis</a></li>
                                            <li><a href="/products">Persol</a></li>
                                            <li><a href="/products">Nike</a></li>
                                            <li><a href="/products">Edwin</a></li>
                                            <li><a href="/products">New Balance</a></li>
                                            <li><a href="/products">Jack & Jones</a></li>
                                            <li><a href="/products">Paul Smith</a></li>
                                            <li><a href="/products">Ray-Ban</a></li>
                                            <li><a href="/products">Wood Wood</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a class="color2" href="#"> Women</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="/products">Accessories</a></li>
                                            <li><a href="/products">Bags</a></li>
                                            <li><a href="/products">Caps & Hats</a></li>
                                            <li><a href="/products">Hoodies & Sweatshirts</a></li>
                                            <li><a href="/products">Jackets & Coats</a></li>
                                            <li><a href="/products">Jeans</a></li>
                                            <li><a href="/products">Jewellery</a></li>
                                            <li><a href="/products">Jumpers & Cardigans</a></li>
                                            <li><a href="/products">Leather Jackets</a></li>
                                            <li><a href="/products">Long Sleeve T-Shirts</a></li>
                                            <li><a href="/products">Loungewear</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="/products">Shirts</a></li>
                                            <li><a href="/products">Shoes, Boots & Trainers</a></li>
                                            <li><a href="/products">Shorts</a></li>
                                            <li><a href="/products">Suits & Blazers</a></li>
                                            <li><a href="/products">Sunglasses</a></li>
                                            <li><a href="/products">Sweatpants</a></li>
                                            <li><a href="/products">Swimwear</a></li>
                                            <li><a href="/products">Trousers & Chinos</a></li>
                                            <li><a href="/products">T-Shirts</a></li>
                                            <li><a href="/products">Underwear & Socks</a></li>
                                            <li><a href="/products">Vests</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popular Brands</h4>
                                        <ul>
                                            <li><a href="/products">Levis</a></li>
                                            <li><a href="/products">Persol</a></li>
                                            <li><a href="/products">Nike</a></li>
                                            <li><a href="/products">Edwin</a></li>
                                            <li><a href="/products">New Balance</a></li>
                                            <li><a href="/products">Jack & Jones</a></li>
                                            <li><a href="/products">Paul Smith</a></li>
                                            <li><a href="/products">Ray-Ban</a></li>
                                            <li><a href="/products">Wood Wood</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color4" href="/blog">Blog</a></li>
                    <li><a class="color6" href="/contact">Conact</a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>

<div class="banner">
    <div class="container">
        <script src="../static/js/responsiveslides.min.js"></script>
        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>

                    <div class="banner-text">
                        <h3>Lorem Ipsum is not simply dummy </h3>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor .</p>
                        <a href="/single">Learn More</a>
                    </div>

                </li>
                <li>

                    <div class="banner-text">
                        <h3>There are many variations </h3>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor .</p>
                        <a href="/single">Learn More</a>

                    </div>

                </li>
                <li>
                    <div class="banner-text">
                        <h3>Sed ut perspiciatis unde omnis</h3>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor .</p>
                        <a href="/single">Learn More</a>

                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>

<!--content-->
<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>NEW RELEASED</h1>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                        src="../static/images/pi.jpg"
                                                                                        alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>T-Shirt</span>
                            </h3>
                        </div>
                    </a>


                    <p><a href="/single">Contrary to popular</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                        src="../static/images/pi1.jpg"
                                                                                        alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Shoe</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="/single">classical Latin</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                        src="../static/images/pi2.jpg"
                                                                                        alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Bag</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="/single">undoubtable</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                        src="../static/images/pi3.jpg"
                                                                                        alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Shirt</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="/single">suffered alteration</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                        src="../static/images/pi4.jpg"
                                                                                        alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Bag</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="/single">Content here</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                        src="../static/images/pi5.jpg"
                                                                                        alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Shoe</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="/single">readable content</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!----->

        <div class="content-top-bottom">
            <h2>Featured Collections</h2>
            <div class="col-md-6 men">
                <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                    src="../static/images/t1.jpg"
                                                                                    alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in   b-delay03 ">
                            <span>Lorem</span>
                        </h3>
                    </div>
                </a>


            </div>
            <div class="col-md-6">
                <div class="col-md1 ">
                    <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                        src="../static/images/t2.jpg"
                                                                                        alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                <span>Lorem</span>
                            </h3>
                        </div>
                    </a>

                </div>
                <div class="col-md2">
                    <div class="col-md-6 men1">
                        <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                            src="../static/images/t3.jpg"
                                                                                            alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Lorem</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6 men2">
                        <a href="/single" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive"
                                                                                            src="../static/images/t4.jpg"
                                                                                            alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Lorem</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    <div class="content-bottom">
        <ul>
            <li><a href="#"><img class="img-responsive" src="../static/images/lo.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="../static/images/lo1.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="../static/images/lo2.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="../static/images/lo3.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="../static/images/lo4.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="../static/images/lo5.png" alt=""></a></li>
            <div class="clearfix"></div>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-top-at">

            <div class="col-md-4 amet-sed">
                <h4>MORE INFO</h4>
                <ul class="nav-bottom">
                    <li><a href="#">How to order</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/contact">Location</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>CONTACT US</h4>

                <p>
                    Contrary to popular belief</p>
                <p>The standard chunk</p>
                <p>office: +12 34 995 0792</p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
            </div>
            <div class="col-md-4 amet-sed">
                <h4>Newsletter</h4>
                <p>Sign Up to get all news update
                    and promo</p>
                <form>
                    <input type="text" value="" onfocus="this.value='';"
                           onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Sign up">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-class">
        <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">
            &#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
</div>
</body>
</html>
			